.sidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 100%; /* Changed from 100vh to work inside a flex container */
    width: 320px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0; /* Prevents the sidebar from shrinking */
}

.sidebar button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.logo {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar button span {
    font-size: 20px;
}

.sidebar button:hover {
    background-color: rgba(180, 180, 180, 0.05);
}

.history {
    margin: 10px;
    padding: 10px;
    flex-grow: 1; /* Allows this section to take up available space */
    overflow-y: auto; /* Adds a scrollbar if the list of chats is long */
}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 10px 5px; /* Adjusted padding for better spacing */
    margin-bottom: 0.3rem;
    font-size: 14px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.history li:hover {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}

.sign {
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    border-top: solid 0.25px rgba(255, 255, 255, 0.5);
}

.fa-trash {
    opacity: 0;
    position: absolute;
    right: 5px; /* Adjusted position */
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
}

.history li:hover .fa-trash {
    opacity: 1;
    color: #fff;
}

.fa-trash:hover {
    color: #f87171 !important;
}

.highlighted {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}
